<p>Home</p>

<li class="nav-item">
                            <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow" >Sign out </a>
                        </li>