<p>Home</p>

<li class="nav-item">
                           User -  <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete" rel="nofollow" >Sign out </a>
                        </li>




                        <p>Home</p>

<li class="nav-item">
                           Employer -  <a class="nav-link" href="<%= destroy_employer_session_path %>" data-method="delete" rel="nofollow" >Sign out </a>
                        </li>