<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <!-- Include favicon-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <%= csrf_meta_tags %>

	<title>Placement - Find internship opportunities everywhere in Ghana.</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <%= stylesheet_link_tag    'employer', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
</head>

<body>
  <%= yield %>

  <%= javascript_include_tag 'employers', 'data-turbolinks-track': 'reload' %>
</body>

</html>